.text-area .content{
  -fx-background-color: #f4f4f4;
}

.text-area {
  -fx-font-family: monospace;
}

.split-pane > .split-pane-divider {  
    -fx-padding: 0 0.1em 0 0.1em;  
} 

.scroll-pane {
    -fx-background-color:transparent;
}

.tree-view {
    -fx-border-style: none; 
    -fx-background-color:transparent;
}